.rightMenu{
    height: calc(100vh - 40px);
    width: 50px;
    min-width: 50px;
    background: rgba(34, 34, 34, .95);
    backdrop-filter: blur(10px);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
    padding: 20px;
}